@using System.Web.Optimization
@using ReactShop.Core.Common
@using ReactShop.Core.Data.Cart

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - by MMC</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/fonts/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body class="body">
<div class="overlay">
    <div class="loader">Loading...</div>
</div>

<div class="navbar-collapse collapse navbar-inverse">
    <div>
    <div class="logo pull-left"></div>
    <div class="bottom">
     
        <ul class="nav navbar-nav">
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <span class="glyphicon glyphicon-home"></span>
                    Home
                </a>
            </li>
            @if (Identity.IsLoggedIn())
            {
                <li>
                    <a href="@Url.Action("Cart", "Home")">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        Cart   (@GetCartItem.GetCartCount())
                    </a>
                    
                </li>
            }
            </ul>

        </div>
        <div>

            <span></span>
            <span></span>
            <ul>
                <li>
                    <form class="navbar-form" role="search" method="post" action="/searchbar">
                        <input type="text" class="navbar-text" placeholder="Enter Search..." name="searchText">
                        <button type="submit" class="glyphicon glyphicon-search"></button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="float-right">
            <ul>
                <li>
                    @Html.Partial("_Login")
                </li>
            </ul>
        </div>
    </div>
</div>



<div class="container body-content">
    <br />        
    <br />
    <br />
    <br />
    @RenderBody()
    <hr />
    <footer>
        <div id="footer-social-links" class="footer-social-links">
            <div class="footer-wrapper">
                <div>Made for</div>
                <a href="http://myminniecreations.com" target="_blank">
                    <h2 class="project-footer-logo title"></h2>
                </a>
                <ul class="social-list">
                    <li class="social-items">
                        <i class="wm-icon wm-icon-circle icon-facebook"></i><span class="social-name"></span>
                    </li>
                    <li class="social-items">
                        <i class="wm-icon wm-icon-circle icon-twitter"></i><span class="social-name"></span>
                    </li>
                    <li class="social-items">
                        <i class="wm-icon wm-icon-circle icon-google-plus"></i><span class="social-name"></span>
                    </li>
                    <li class="social-items">
                        <i class="wm-icon wm-icon-circle icon-instagram"></i><span class="social-name"></span>
                    </li>
                    <li class="social-items">
                        <i class="wm-icon wm-icon-circle icon-youtube"></i><span class="social-name"></span>
                    </li>
                </ul>
            </div>
        </div>

        <div id="footer-institutional" class="footer-institutional">
            <div class="footer-wrapper" itemscope="" itemtype="//schema.org/LocalBusiness">
                <p>
                    <span itemprop="name">developed by</span>
                    <br /><span itemprop="name">MYSELF</span>
                    <br />
                    <span itemprop="address" itemscope="" itemtype="//schema.org/PostalAddress">
                        <a href="wellwater@hotmail.co.uk" itemprop="email">wellwater@hotmail.co.uk</a>
                        <a href="http://www.twitter.com" itemprop="twitter">myTwitter</a>
                        </span>
                </p>
            </div>
        </div>
    </footer>
</div>
<div id="loading" class="loading" style="display: none;">Loading&#8230;</div>

</body>
</html>

@Scripts.Render("~/bundles/js")
@RenderSection("scripts", required: false)