@using ReactShop.Core.Common

@if (Identity.IsAdminMode())
{
    <div class="pull-right">***ADMIN MODE***</div>
}
<p></p>
@if (Identity.IsTestMode())
{
    <div class="pull-right">*****TEST MODE*****</div>
}

@if (!Identity.IsLoggedIn())
{

    @Ajax.ActionLink("Login", "DoLogin", "Home", new AjaxOptions
        {
            HttpMethod = "GET", UpdateTargetId = "loginpopup", InsertionMode = InsertionMode.Replace, OnSuccess = "openPopup",
            
        })
    <p></p>

    @Html.ActionLink("Create Account", "CreateAccount", "User");


}
else
{
    <div class="pull-right">
        <p class="nav navbar-text">
            Logged in as <strong>@Identity.IdentityName()</strong>
        </p>
        <p>
            @Html.ActionLink("My Account", "ManageAccount", "User")
        </p>
        @Html.ActionLink("My Orders", "ManageOrders", "User")
        @Html.ActionLink("Logout", "logout", "user", routeValues: null, htmlAttributes: new { @class = "btn navbar-btn navbar-right btn-warning" })
    </div>
}

<div id="loginpopup" class="modal-dialog modal"></div>

